<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Burger Menu</title>
    <link rel="stylesheet" href="../CSS/index.css" />
    <link rel="stylesheet" href="../CSS/single.css" />
  </head>
  <body>
    <nav>
      <div class="menu">
        <div class="logo">
          <img src="../images/logo2.png" alt="">
         </div>
         <div class="logo">
           <a href="index.html">PAYLAŞTIKÇA</a>
         </div>
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a href="menü.html">MENU</a></li>
          <li><a href="contact.html">CONTACT</a></li>
          <li><a href="#">FEEDBACK</a></li>
        </ul>
      </div>
    </nav>
    <section class="single">
      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="../images/hamburger.jpg" id="MainImage" alt="" />
          </div>
          <div class="small-gallery">
            <div class="small-images">
              <img src="../images/hamburger.jpg"class="smallimg" alt="" />
            </div>
            <div class="small-images">
              <img src="../images/burgerr1,.jpg"class="smallimg" alt="" />
            </div>
            <div class="small-images">
              <img src="../images/burger-menu2.jpg"class="smallimg" alt="" />
            </div>
          </div>
        </div>
        <div class="box box-text">
          <h2>HAMBURGER</h2>
          <p>
            Step into a world of burger bliss at our restaurant, where each bite is a celebration of juicy
            perfection and bold flavors.
            Our burger menu offers a tempting array of options, from classic cheeseburgers to gourmet creations
             that redefine your burger experience.
          </p>
          <select name="select" id="slct1">
            <option value="secim">Choose your burger</option>
          </select>
          <select name="select" id="slct2"></select>
          <h3 id="price">165.90₺</h3>
          <h3 id="price" class="old">199.99₺</h3>
          <button class="btn">Add to card</button>
        </div>
      </div>
    </section>
    <footer>
      <div class="box">
        <h3>Created By Furkan Berkay Özcan</h3>
      </div>
    </footer>
    <script src="../JS/burger.js"></script>
    <script src="../JS/img.js"></script>
  </body>
</html>
