<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../CSS/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <div class="menu">
        <div class="logo">
         <img src="../images/logo2.png" alt="">
        </div>
        <div class="logo">
          <a href="index.html">PAYLAŞTIKÇA</a>
        </div>
        <ul>
          <li><a href="#" class="active">HOME</a></li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a href="menü.html">MENU</a></li>
          <li><a href="contact.html">CONTACT</a></li>
          <li><a href="login.html">LOGİN</a></li>
        </ul>
      </div>

    </nav>
    <div class="img"></div>
    <div class="center">
      <div class="title">Where Every Bite Tells a Delicious Story.</div>
      <div class="sub_title">By Furkan Berkay</div>
      <div class="btns">
        <a href="about.html"><button>Learn More</button></a>
      </div>
    </div>

    <div class="content">
      <div class="content-baslik"><h1>CAMPAIGN</h1></div>
      <div id="countdown"></div>
      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="../images/content1.jpg" alt="" />
          </div>
          <div class="image-text">
            <h3>PASTA</h3>
            <p>
              We produce our pasta from whole wheat flour and make our sauces specially.We order our ingredients from all
               over the world and cook them.
            </p>
          </div>

          <div class="image-btn">
            <a href="makarna.html"><button class="btn">REVIEW</button></a>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="../images/content2.jpg" alt="" />
          </div>

          <div class="image-text">
            <h3>PİZZA</h3>
            <p>
              We prepare our pizzas with the most special ingredients. We order our ingredients from all over the world and cook 
              them in yours.
            </p>
          </div>

          <div class="image-btn">
            <a href="pizza.html"><button class="btn">REVIEW</button></a>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="../images/content3.jpg" alt="" />
          </div>
          <div class="image-text">
            <h3>BURGER</h3>
            <p>
              We cook our burgers over coal fire with the meat we prepare from the tenderloin and chop sections and present
              them to you, our dear guests.
            </p>
          </div>

          <div class="image-btn">
            <a href="burger.html"><button class="btn">REVIEW</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="photo-gallery">
      <div class="sg">
        <h1>COME FROM YOU</h1>
      </div>
      <div class="box-container">
        <div class="box">
          <a href="#">
            <img src="../images/T1.jpg" alt="">
          </a>
          <a href="#">
            <img src="../images/P2.jpg" alt="">
          </a>
          <a href="#">
            <img src="../images/B2.jpg" alt="">
          </a>
          <a href="#">
            <img src="../images/B1.jpg" alt="">
          </a>
          <a href="#">
            <img src="../images/T2.jpg" alt="">
          </a>
          <a href="#">
            <img src="../images/S2.jpg" alt="">
          </a>
        </div>

        <div class="box">
          <a href="#">
            <img src="../images/P1.jpg" alt="">
          </a>
          <a href="#">
            <img src="../images/S4.jpg" alt="">
          </a>
          <a href="#">
            <img src="../images/M3.jpg" alt="">
          </a>
          <a href="#">
            <img src="../images/B3.jpg" alt="">
          </a>
          <a href="#">
            <img src="../images/S3.jpg" alt="">
          </a>
          <a href="#">
            <img src="../images/T3.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
    <script src="../JS/countdown.js"></script>
    <footer>
      <div class="box">
        <h3>Created By Furkan Berkay Özcan</h3>
      </div>
    </footer>
  </body>
</html>
