<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/index.css" />
    <link rel="stylesheet" href="../CSS/single.css" />
  </head>
  <body>
    <nav>
      <div class="menu">
        <div class="logo">
          <img src="../images/logo2.png" alt="">
         </div>
         <div class="logo">
           <a href="index.html">PAYLAŞTIKÇA</a>
         </div>
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a href="menü.html">MENU</a></li>
          <li><a href="contact.html">CONTACT</a></li>
          <li><a href="login.html">LOGİN</a></li>
        </ul>
      </div>
    </nav>
    <section class="single">
      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="../images/pizza-menu.jpg"id="MainImage" alt="" />
          </div>
          <div class="small-gallery">
            <div class="small-images">
              <img src="../images/pizza-menu.jpg"class="smallimg" alt="" />
            </div>
            <div class="small-images">
              <img src="../images/pizza-menu2 (2).jpg"class="smallimg" alt="" />
            </div>
            <div class="small-images">
              <img src="../images/pizza-menu3.jpg"class="smallimg" alt="" />
            </div>
          </div>
        </div>
        <div class="box box-text">
          <h2>PİZZA</h2>
          <p>
            Welcome to our haven of pizza perfection, where every slice tells a delicious tale of craftsmanship and flavor.
            Our diverse pizza menu boasts traditional favorites like Margherita and pepperoni, 
            alongside unique creations that will tantalize your taste buds.
          </p>
          <select name="select" id="slct1">
            <option value="secim">Pizzanızı Seçiniz</option>
          </select>
          <select name="select" id="slct2"></select>
          <h3 id="price">273.90₺</h3>
          <h3 id="price" class="old">199.99₺</h3>
          <button class="btn">Sepete Ekle</button>
        </div>
      </div>
    </section>
    <footer>
      <div class="box">
        <h3>Created By Furkan Berkay Özcan</h3>
      </div>
    </footer>
    <script src="../JS/pizza.js"></script>
    <script src="../JS/img.js"></script>

  </body>
</html>
